@model IEnumerable<TurkishExporterInventory.Database.Models.ItemListModel>


@{
    ViewData["Title"] = "Itemlist";
}
<link href="~/css/ItemForms/Itemlist.css" rel="stylesheet" />
<link href="~/css/UserForms/Userlist.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">

        <div class="card-body">
            <h4 class="card-title">Tüm Eşyalar</h4>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="userlist-form-th font-weight-bolder"> Index </th>
                        <th class="userlist-form-th font-weight-bolder"> Ürün Adı </th>
                        <th class="userlist-form-th font-weight-bolder"> Ürün Alım Yeri </th>
                        <th class="userlist-form-th font-weight-bolder"> Ürün Alım Amacı </th>
                        <th class="userlist-form-th font-weight-bolder"> Tahsis Sayısı </th>
                        <th class="userlist-form-th font-weight-bolder"> Ürün Fiyatı </th>
                        <th class="userlist-form-th font-weight-bolder"> Ürün Alım Tarihi </th>
                        <th class="userlist-form-th font-weight-bolder"> Son Tahsis </th>
                        <th class="userlist-form-th font-weight-bolder"> Özellikler </th>
                    </tr>
                </thead>
                <tbody>
                    @{ int i = 1;}
                    @foreach (var item in Model)
                    {
                        if (i % 5 == 1)
                        {
                            <tr class="table-info">
                                <td> @i </td>
                                <td> @Html.DisplayFor(modelItem => item.Name) </td>
                                <td> @Html.DisplayFor(modelItem => item.BoughtPlace) </td>
                                <td> @item.Purpose </td>
                                <td> @Html.DisplayFor(modelItem => item.ItemOwnersCount) </td>
                                <td> ₺@Html.DisplayFor(modelItem => item.PriceTL) </td>
                                <td> @item.BoughtDate.Date.ToString("MM/dd/yyyy")</td>
                                <td> @Html.DisplayFor(modelItem => item.LastUser) </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Düzenle</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Detaylar</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Sil</a>
                                </td>
                            </tr>
                        }
                        else if (i % 5 == 2)
                        {
                            <tr class="table-warning">
                                <td> @i </td>
                                <td> @Html.DisplayFor(modelItem => item.Name) </td>
                                <td> @Html.DisplayFor(modelItem => item.BoughtPlace) </td>
                                <td> @item.Purpose </td>
                                <td> @Html.DisplayFor(modelItem => item.ItemOwnersCount) </td>
                                <td> ₺@Html.DisplayFor(modelItem => item.PriceTL) </td>
                                <td> @item.BoughtDate.Date.ToString("MM/dd/yyyy")</td>
                                <td> @Html.DisplayFor(modelItem => item.LastUser) </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Düzenle</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Detaylar</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Sil</a>
                                </td>
                            </tr>
                        }
                        else if (i % 5 == 3)
                        {
                            <tr class="table-danger">
                                <td> @i </td>
                                <td> @Html.DisplayFor(modelItem => item.Name) </td>
                                <td> @Html.DisplayFor(modelItem => item.BoughtPlace) </td>
                                <td> @item.Purpose </td>
                                <td> @Html.DisplayFor(modelItem => item.ItemOwnersCount) </td>
                                <td> ₺@Html.DisplayFor(modelItem => item.PriceTL) </td>
                                <td> @item.BoughtDate.Date.ToString("MM/dd/yyyy")</td>
                                <td> @Html.DisplayFor(modelItem => item.LastUser) </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Düzenle</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Detaylar</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Sil</a>
                                </td>
                            </tr>
                        }
                        else if (i % 5 == 4)
                        {
                            <tr class="table-success">
                                <td> @i </td>
                                <td> @Html.DisplayFor(modelItem => item.Name) </td>
                                <td> @Html.DisplayFor(modelItem => item.BoughtPlace) </td>
                                <td> @item.Purpose </td>
                                <td> @Html.DisplayFor(modelItem => item.ItemOwnersCount) </td>
                                <td> ₺@Html.DisplayFor(modelItem => item.PriceTL) </td>
                                <td> @item.BoughtDate.Date.ToString("MM/dd/yyyy")</td>
                                <td> @Html.DisplayFor(modelItem => item.LastUser) </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Düzenle</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Detaylar</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Sil</a>
                                </td>
                            </tr>
                        }
                        else if (i % 5 == 0)
                        {
                            <tr class="table-primary">
                                <td> @i </td>
                                <td> @Html.DisplayFor(modelItem => item.Name) </td>
                                <td> @Html.DisplayFor(modelItem => item.BoughtPlace) </td>
                                <td> @item.Purpose </td>
                                <td> @Html.DisplayFor(modelItem => item.ItemOwnersCount) </td>
                                <td> ₺@Html.DisplayFor(modelItem => item.PriceTL) </td>
                                <td> @item.BoughtDate.Date.ToString("MM/dd/yyyy")</td>
                                <td> @Html.DisplayFor(modelItem => item.LastUser) </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Düzenle</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Detaylar</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-dark btn-rounded btn-sm default-buttons">Sil</a>
                                </td>
                            </tr>
                        }

                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>




